*{
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary-color: #832A2F;
    --secondary-color: #02934E;
    --background-color: #FDF3F3;
    --text-color: #FFFFFF;
    --accent-color: #940202;
}

.header{
    display: flex;
    padding: 10px;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

header img{
    width: 80px;
    height: auto;
}

button{
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--primary-color);
    color:var(--text-color)
}

.presentation-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, var(--secondary-color) 50%, var(--background-color) 50%);
    color: #333;
}

.content {
    max-width: 600px;
    text-align: center;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.content p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #666;
}

.content a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    background-color: var(--secondary-color);
    border-radius: 8px;
    transition: background-color 0.3s;
}

.sobre-nos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: justify;
    gap: 20px;
}

.sobre-nos-img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 50%;
}

.sobre-nos img{
    max-height: 100%;
    width: auto;
}

.text-sobre-nos{
    width: 50%;
    padding: 10px;
}

section p{
    font-size: 20px;
    padding: 5px;
}

footer {
    width: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 20px 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons img {
    width: 40px;
    transition: transform 0.3s, filter 0.3s;
}

.social-icons img:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

.footer-logo img {
    width: 100px;
}

.footer-address {
    color: black;
    font-size: 16px;
    text-align: center;
    flex: 1;
    font-style: normal;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .social-icons {
        justify-content: center;
    }

    .footer-address {
        font-size: 14px;
        margin-top: 10px;
    }
}
